<style>
.bodyorder{
	margin: 0;
	padding: 0;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.orderContainer{
	width: 100%;
    margin:auto;
    margin-top:30px;
    margin-bottom:30px;
	background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #1687d933;
}

.order-Items{
	margin: auto;
	width: 90%;
	height: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.image-box{
    margin-left:-20px;
	width: 150px;
	text-align: center;
}
.about{
    margin-top:30px;
	height: 100%;
	width: 40%;
}
.title{
	padding-top: 10px;
	line-height: 10px;
	font-size: 26px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #202020;
}

.counter{
	width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn{
	width: 180px;
	height: 40px;
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
	cursor: pointer;
}

.prices{
    margin-top:30px;	
    height: 100%;
	text-align: right;
}

.save{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #1687d9;
	cursor: pointer;
}
.remove{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	cursor: pointer;
}

.pad{
	margin-top: 5px;
}

hr{
    height:2px;
    background:black;
	width: 66%;
	float: right;
	margin-right: 5%;
}
.checkout{
	float: right;
	margin-right: 5%;
	width: 45%;
}

.items{
	font-size: 22px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #909090;
	line-height: 10px;
}
.total-amount{
    padding-left: 20px;
	font-size: 22px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
    text-align: right;
}
.button{
	margin-top: 10px;
	width: 100%;
	height: 40px;
	border: none;
	background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}
</style>

<head>
	<title>Shopping order UI</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">
</head>
<div class="bodyorder">
   <div class="orderContainer">
   	   <div class="Header">
   	        <h3 class="Heading">Shopping Orders</h3>
            <%= link_to "Go to cart", carts_path, class:"btn btn-success btn-rounded float-right"%>
   	   </div>

        <% @orders.each do |order| %>
			<% if Product.exists?(order.pid) %>
				<% @prod=Product.find(order.pid) %>
				<div class="order-Items">
					<div class="image-box">
					<%= image_tag @prod.prodimage, style: "width: 180px; height: 120px; display: block" %>

					</div>
					<div class="about">
					
						<h1 class="title">Product Name - <%= @prod.name %></h1><br>
						<h3 class="subtitle">Quantity - <%= order.quan %></h3>
						<!--<%= image_tag('veg.png', id: "drag1", height: "30px") %>-->
					</div>
					<div class="prices">
						<div class="amount">Price - ₹<%= order.price %></div>
						<!--<div class="save"><u>Save for later</u></div>-->
						<div>Order status - <span class="text-success"><%= order.status %></span></div>
						<div>Payment status - 
							<% if order.payid=="Payment Pending" %> 
								<span class="text-warning"><%= order.payid %></span>
							<% else %>
								<span class="text-success"><%= order.payid %></span>
							<% end %>
						</div>
						<div class="remove"><a href="orders/delete/<%= order.id %>" class="text-danger">Delete Order</a></div>
					</div>
				</div>
			<% end %>
        <% end %>
   	 <hr> <br>
   	 <div class="checkout">
        <div class="total">
            <div class="total-amount">Total Order Value = 
				<span class="price h3 text-success">₹
					<%= Order.where(uid:Current.user.id ).where(payid:"Payment Pending").sum(:price) %>
				</span>
			</div>
        </div>
		<% if (Order.where(uid:Current.user.id ).where(payid:"Payment Pending").count)>0 %> 
        <%= link_to "Make Payment", "orders/pay/", class:"btn btn-warning btn-rounded float-right"%>
		<% end %>
		</div>
   </div>
</div>



<!--
// <% @orders.each do |order| %>
    // <h1>PID-<%= order.pid %></h1>
    // <h1>PRICE-<%= order.price %></h1>
    // <h1>QUAN-<%= order.quan %></h1>
    // <h1>UID-<%= order.uid %></h1>
    // <h1>Order status-<%= order.status %></h1>
    // <h1>Payment status-<%= order.payid %></h1>
    // <a href="orders/delete/<%= order.id %>">delete</a>

    // <h1>________________________________________</h1>
    // <% end %>
    // <h4>Total Order Value = <%= Order.where(uid:Current.user.id ).where.not(status:"Item Delivered").sum(:price) %></h4>
    <a href="orders/payment/">Payment</a>
    
    -->